.auth {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .img {
      animation: slide-down 0.5s ease;
    }
  
    .form {
      width: 34rem;
      padding: 1.5rem;
      animation: slide-up 0.5s ease;
      background-color: #fff;
      border-radius: 10px;
      h2 {
        color: rgb(76, 136, 164);
        text-align: center;
        font-size: 25px;
      }
       p{
        text-align: center;
       }
      form {
        input[type="text"],
        input[type="email"],
        input[type="password"] {
          display: block;
          font-size: 10px;
          padding: 1rem;
          margin: 1rem auto;
          width: 90%;
          border: 1px solid #ccc;
          border-radius: 10px;
          outline: none;
  
          &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
            border-bottom: 3px solid #3496f1;
          }
  
          &:focus:invalid {
            border-bottom: 3px solid #ffc130;
          }
        }
        .links {
          display: flex;
          justify-content: space-between;
          margin: 5px 0;
        }
  
        p {
          text-align: center;
          margin: 1rem;
        }
      }
      .register {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        // padding-left: 40px;
        // padding-right: 40px;
        // width: 80%;
     
      }
      .linkH{
        color: red;
      }
    }
  
    @keyframes slide-up {
      0% {
        transform: translateY(-5rem);
      }
      100% {
        transform: translateY(0);
      }
    }
    @keyframes slide-down {
      0% {
        transform: translateY(5rem);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
  
  @media screen and (max-width: 700px) {
    .img {
      display: none;
    }
  }
